<div class="register-block">

	<div class="alert alert-info registration-alert registration-processing" role="alert">Registration Processing....</div>
	<div class="alert alert-success registration-alert registration-done" role="alert">Great Job..!!</div>
	<div class="alert alert-danger registration-alert registration-failed" role="alert">Registration Failed..!!</div>

	<h2>Register With Us</h2>
	<div class="register-form">

		<form action="#" method="post">

			<div class="register-row">
				<input type="email" placeholder="Email" class="form-control" ng-model="loginEmail" />
			</div>
			<div class="register-row">
				<input type="password" placeholder="Password" class="form-control" ng-model="loginPassword" />
			</div>
			<div class="register-row">
				<button type="button" class="auth-btn" ng-click="loginWithUs()">Login</button>
			</div>

		</form>

	</div>
</div>